{% extends 'base.html.twig' %}

{% block title %} - Réinitialisation mot de passe{% endblock %}

{% block body %}

<section class="page-section simple-page authentication d-flex align-items-center" id="authentication">
    <div class="container d-flex flex-column jumbotron text-white">

        <h1>Réinitialiser mon mot de passe</h1>

        {{ form_start(resetPasswordForm) }}
        <div class="row mt-4 mb-4">
            <div class="col-md-6 mt-4 mb-4">
                {{ form_row(resetPasswordForm.plain_password) }}
            </div>
            <div class="col-md-6 mt-4 mb-4">
                {{ form_row(resetPasswordForm.confirm_password) }}
            </div>
        </div>

        <div class="row m-4 form-group d-flex justify-content-center">
                <button class="btn btn-lg btn-primary mt-4">
                    Réinitialiser mon mot de passe
                </button>
        </div>
        {{ form_end(resetPasswordForm) }}
    </div>

</section>
{% endblock %}
