
body {
    background-color: #4b4c77;
    color: white;
}

h2 {
    color: #f9ce31;
}

h3 {
    color: #0073b6;
}

.dark-edition .sidebar h3,
.pageTitle {
    background: -webkit-linear-gradient(60deg, #f9ce31, #0073b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 1.5rem !important;
}

.table-dark {
    background-color: #292a44;
}

.table-dark .yellow-card .color-card {
    background-color: rgba(249, 206, 49, 0.2) !important;
}

.table-dark .blue-card .color-card {
    background-color: rgba(0, 115, 182, 0.2) !important;
}

.table-dark .yellow-blue-card .color-card {
    background: linear-gradient(60deg, rgba(249, 206, 49, 0.2), rgba(0, 115, 182, 0.2));
}

.table-dark .yellow-card td,
.table-dark .blue-card td {
    color: white !important;
}

.dark-edition .form-control, .is-focused .dark-edition .form-control {
    background-image: linear-gradient(to top, #0073b6 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, rgba(180, 180, 180, 0.1) 1px, rgba(180, 180, 180, 0) 1px);
}

.dark-edition .form-control option{
    color: #1f283e !important;
}

table.dataTable tbody tr {
    background-color: #292a44;
}

.dark-edition .btn.btn-primary {
    color: #fff;
    background-color: #0073b6;
    border-color: #0073b6;
    box-shadow: 0 2px 2px 0 rgba(145, 63, 158, 0.14), 0 3px 1px -2px rgba(145, 63, 158, 0.2), 0 1px 5px 0 rgba(145, 63, 158, 0.12);
}

.dark-edition .btn.btn-primary:focus, .dark-edition .btn.btn-primary.focus, .dark-edition .btn.btn-primary:hover {
    color: #fff;
    background-color: #2992d0;
    border-color: #2992d0;
}

.dark-edition .is-focused [class*='bmd-label'],
.yellow-col{
    color: #f9ce31 !important;
}

.dark-edition .form-group input,
.dark-edition .form-group .custom-select-wrapper
{
    padding-top: 22px;
    padding-bottom: 8px;
    height: 60px;
    font-size: 16px;
    width: 100%;
}

.dark-edition .btn[type='submit']{
    float: right;
    padding: 0px !important;
}

.custom-file-label::after {
    content: "Rechercher";
}

/* .jumbotron {
    background-color: #e9ecef40;
} */

@media (min-width: 576px){
    .jumbotron {
        padding: 2rem 1rem;
    }
}

table.dataTable thead .sorting:before, 
table.dataTable thead .sorting_asc:before, 
table.dataTable thead .sorting_desc:before, 
table.dataTable thead .sorting_asc_disabled:before, 
table.dataTable thead .sorting_desc_disabled:before, 
table.dataTable thead .sorting:after, 
table.dataTable thead .sorting_asc:after, 
table.dataTable thead .sorting_desc:after, 
table.dataTable thead .sorting_asc_disabled:after, 
table.dataTable thead .sorting_desc_disabled:after{
    content: "";
}

.dataTables_length,
.dataTables_filter,
.dataTables_info {
    color: white !important;
}

.page-item{
    padding: 0 !important;
}