
body {
    height: 100%;
}

.portfolio-item .game-mod {
    width: 100%;
    padding: 10px;
    font-size: 1.25rem;
    background-color: #fdc40f;
    color: rgb(0, 115, 182);
}

/* .portfolio-item:hover .game-mod {

    transition: all 0.2s ease-in-out;
    background-color: white;
} */

.portfolio-item p {
    text-align: center;
    margin: 0 !important;
}

.fa-times{
    color: #d95112;
    margin: 10px;
    cursor: pointer;
}

.fa-times:hover {
    color: rgb(0, 115, 182);
}

.fadeIn.first{
    text-align: end;
}

#connexion {
    cursor: pointer;
}

#front_content {
    /* padding-top: 73px; */
    min-height: calc(100vh - 72px);
}

@media (min-width: 992px){

    /* #mainNav{
        height: 88px;
    } */
    
    #authentication {
        padding-top: calc(88px + 4rem);
        min-height: calc(100vh - 72px);
    }
}

.jumbotron {
    background-color: #e9ecef40;
    margin-bottom: 0;
}

.col-red{
    color: red !important;
}

.fa-edit{
    color: white;
}

.fa-edit:hover {
    color: #0056b3;
}

.form-check-input{
    width:20px;
    margin-top: 1px;
    height: 20px;
    margin-left: -2.75rem;
}