{% extends 'adminBase.html.twig' %}

{% block title %}Time's Up Admin - {{ pageModTitle }} d'une Carte{% endblock %}

{% block body %}

    <h1 class="pageTitle mb-4 text-center">{{ pageModTitle }} d'une Carte</h1>

    <div class="row">

    </div>
{% endblock %}