{# <template id="profileEditionTemplate">

    <h2 class="col-md-8">Modification de mon Profil</h2>
    {{ form_start(profileForm) }}
        {{ form_widget(profileForm) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(profileForm) }}

</template> #}
