{# 
<template id="friend-search">
    <div class="d-flex flex-column jumbotron text-white">

        <h1>Mes Amis</h1>

        {{ form_start(friendForm, { 'attr': {'class': 'friendSearch w-100 '} }) }}
            <div class="row mr-4 ml-4 form-group d-flex flex-wrap align-items-center justify-content-between">
                <h2 class="col-12">Rechercher un Ami</h2>
                <div class="col-md-6 row">
                    {{ form_row(friendForm.username) }}
                </div>

                <button class="btn btn-lg btn-primary mt-2 ">
                    Rechercher
                </button>
        </div>
        {{ form_end(friendForm) }}

        <div class="row" id="friendFound">
            <h2 class="col-12">Résultat de votre recherche</h2>
            <form method="POST" action="{{ path('account_friend_invitation') }}"  class="row form-group d-flex flex-column align-items-center justify-content-center">
                <div class="row">
                    <div class="mt-4 mb-4 friendUsername">
                        // Ajax friendFound username
                    </div>
                    <input type="hidden" name="friendId" />
                </div>

                <button class="btn btn-lg btn-primary mt-2 ">
                    Lui envoyer une demande d'ami
                </button>
            </form>
        </div>

        <div class="row" id="friendNotFound">
            <h2 class="col-12">Résultat de votre recherche</h2>
            <div class="alert alert-danger align-items-center justify-content-center m-0 row">
                Aucun utilisateur possédant cet identifiant n'a été trouvé...
            </div>
        </div>
    </div>

</template> #} #}
